<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.upthink.mapper.CourseMapper">

    <sql id="courseDaoColumns">
       a.id AS "id",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",
		a.SALE_PRICE AS "salcePrice",
		a.TOTAL_DURATION AS "totalDuration",
		a.COURSE_TYPE AS "courseType",
		a.COURSE_NAME AS "courseName",
		a.COURSE_RESUME AS "courseResume",
		a.BASE_PRICE AS "basePrice",
		a.img_Url as "imgUrl",
		a.teach_id as "teachId",
		a.start_time as "startTime"
    </sql>

    <resultMap id="baseMap" type="cn.org.upthink.entity.Course">
        <id column="id" property="id"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
        <result column="remarks" property="remarks"/>
        <result column="delFlag" property="delFlag"/>
        <result column="salcePrice" property="salcePrice"/>
        <result column="totalDuration" property="totalDuration"/>
        <result column="courseType" property="courseType"/>
        <result column="courseName" property="courseName"/>
        <result column="courseResume" property="courseResume"/>
        <result column="basePrice" property="basePrice"/>
        <result column="imgUrl" property="imgUrl"/>
        <result column="startTime" property="startTime"/>
        <association property="teacher" javaType="cn.org.upthink.entity.Expert" select="cn.org.upthink.mapper.ExpertMapper.find" column="teachId"></association>
    </resultMap>

    <sql id="courseJoins">
        <!--todo-->
    </sql>

    <select id="get" resultMap="baseMap">
        SELECT
        <include refid="courseDaoColumns"/>
        FROM tb_course a
        WHERE a.id = #{id} and del_flag = ${@cn.org.upthink.persistence.mybatis.entity.BaseEntity@DEL_FLAG_NORMAL}
    </select>


    <select id="findList" resultMap="baseMap">
        SELECT
        <include refid="courseDaoColumns"/>
        FROM tb_course a
        <if test="userId != null and userId !=''">
            join rela_user_course b on a.id = b.course_id
        </if>
        <where>
            a.del_flag = #{delFlag}
            <!--<if test="name != null and name != ''">
                AND a.name LIKE
                <if test="dbName == 'mysql'">CONCAT('%', #{name}, '%')</if>
            </if>-->
            <if test="id != null">
                AND a.id = #{id}
            </if>
             <if test="salcePrice != null">
                AND a.SALE_PRICE LIKE CONCAT('%', #{salcePrice}, '%')
             </if>
             <if test="totalDuration != null">
                AND a.TOTAL_DURATION LIKE CONCAT('%', #{totalDuration}, '%')
             </if>
             <if test="teacher != null and teacher.id != null and teacher.id != ''">
                AND a.TEACH_ID =#{teacher.id}
             </if>
             <if test="courseType != null and courseType != -1">
                AND a.COURSE_TYPE = #{courseType}
             </if>
             <if test="courseName != null and courseName != ''">
                AND a.COURSE_NAME LIKE CONCAT('%', #{courseName}, '%')
             </if>
             <if test="courseResume != null and courseResume != ''">
                AND a.COURSE_RESUME LIKE CONCAT('%', #{courseResume}, '%')
             </if>
             <if test="basePrice != null ">
                AND a.BASE_PRICE = #{basePrice}
             </if>
            <if test="userId != null and userId !=''">
                AND b.user_id = #{userId}
            </if>
		${sqlMap.dsf}
        </where>
        ORDER BY a.update_date DESC
    </select>

    <insert id="insert">
        INSERT INTO tb_course(
			id,
			create_date,
			update_date,
			remarks,
			del_flag,
			SALE_PRICE,
			TOTAL_DURATION,
			TEACH_ID,
			COURSE_TYPE,
			COURSE_NAME,
			COURSE_RESUME,
			BASE_PRICE,
			img_url,
			start_time
        ) VALUES (
			#{id},
			#{createDate},
			#{updateDate},
			#{remarks},
			#{delFlag},
		    #{salcePrice},
		    #{totalDuration},
		    #{teacher.id},
		    #{courseType},
		    #{courseName},
		    #{courseResume},
		    #{basePrice},
		    #{imgUrl},
		    #{startTime}
        )
    </insert>
    <insert id="bind">
        insert into
        rela_user_course(user_id,course_id)
        value (#{userId},#{courseId})
    </insert>

    <update id="update">
        UPDATE tb_course
        <trim prefix="SET" suffixOverrides=",">
		   <if test="salcePrice!=null">SALE_PRICE = #{salcePrice},</if>
		   <if test="totalDuration!=null">TOTAL_DURATION = #{totalDuration},</if>
		   <if test="teacher.id!=null">TEACH_ID = #{teacher.id},</if>
		   <if test="courseType!=null">COURSE_TYPE = #{courseType},</if>
		   <if test="courseName!=null">COURSE_NAME = #{courseName},</if>
		   <if test="courseResume!=null">COURSE_RESUME = #{courseResume},</if>
		   <if test="basePrice!=null">BASE_PRICE = #{basePrice},</if>
		   <if test="imgUrl!=null">img_url = #{imgUrl},</if>
		   <if test="startTime!=null">start_Time = #{startTime},</if>
		</trim>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE tb_course SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
    </update>

</mapper>