<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.upthink.mapper.QuestionMapper">

    <resultMap id="resultMap" type="cn.org.upthink.entity.Question">
        <id column="id" property="id"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="remarks" property="remarks"/>
        <result column="del_flag" property="delFlag"/>
        <result column="ques_title" property="quesTitle"/>
        <result column="question_date" property="quesDate"/>
        <result column="answer_date" property="ansDate"/>
        <result column="ans_detail" property="ansDetail"/>
        <result column="is_answer" property="answer"/>
        <result column="is_pay" property="pay"/>

        <association property="answerer" select="cn.org.upthink.mapper.UserMapper.get" column="answerer_id"/>
        <association property="questioner" select="cn.org.upthink.mapper.UserMapper.get" column="questioner_id"/>
    </resultMap>

    <sql id="questionDaoColumns">
        a.id,
        a.create_date,
        a.update_date,
        a.remarks,
        a.del_flag,
		a.ques_title,
		a.question_date,
		a.answer_date,
		a.ans_detail,
		a.answerer_id,
		a.questioner_id,
		a.is_answer,
		a.is_pay
    </sql>

    <sql id="questionJoins">
        <!--todo-->
    </sql>

    <select id="findList" resultMap="resultMap" >
        SELECT
        <include refid="questionDaoColumns"/>
        FROM tb_question a
        <where>
            a.del_flag = #{delFlag}
            <if test="quesTitle != null and quesTitle != ''">
                AND a.ques_title LIKE CONCAT('%', #{quesTitle}, '%')
            </if>
            <if test="quesDetail != null and quesDetail != ''">
                AND a.ques_detail LIKE CONCAT('%', #{quesDetail}, '%')
            </if>
            <if test="ansDetail != null and ansDetail != ''">
                AND a.ans_detail LIKE CONCAT('%', #{ansDetail}, '%')
            </if>
            <if test="questioner != null">
                AND a.questioner_id = #{questioner.id}
            </if>
            <if test="answerer != null">
                AND a.answerer_id = #{answerer.id}
                AND a.is_answer = #{answer}
            </if>
            <if test="pay">
                AND a.is_pay = #{pay}
            </if>
            ${sqlMap.dsf}
        </where>
        ORDER BY a.update_date DESC
    </select>

    <!--<select id="find" resultType="cn.org.upthink.entity.Question">
        SELECT
        <include refid="questionDaoColumns"/>
        FROM tb_question a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>-->

    <select id="get" resultMap="resultMap">
        SELECT
        <include refid="questionDaoColumns"/>
        FROM tb_question a
        WHERE a.id = #{id} and del_flag = ${@cn.org.upthink.persistence.mybatis.entity.BaseEntity@DEL_FLAG_NORMAL}
    </select>

    <insert id="insert">
        INSERT INTO tb_question(
			id,
			create_date,
			update_date,
			remarks,
			del_flag,
			ques_title,
			ques_detail,
			question_date,
			questioner_id,
			answerer_id,
			answer_date,
			ans_detail,
			is_answer,
			is_pay
        ) VALUES (
			#{id},
			#{createDate},
			#{updateDate},
			#{remarks},
			#{delFlag},
		    #{quesTitle},
		    #{quesDetail},
		    #{quesDate},
		    #{questioner.id},
		    #{answerer.id},
		    #{ansDate},
		    #{ansDetail},
		    #{isAnswer},
		    #{isPay}
        )
    </insert>

    <update id="update">
        UPDATE tb_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="quesTitle!=null">QUES_TITLE = #{quesTitle},</if>
            <if test="quesDetail!=null">QUES_DETAIL = #{quesDetail},</if>
            <if test="quesDate!=null">QUESTION_DATE = #{quesDate},</if>
            <if test="questioner!=null">QUESTIONER_ID = #{questioner.id},</if>
            <if test="answerer!=null">ANSWERER_ID = #{answerer.id},</if>
            <if test="ansDate!=null">ANSWER_DATE = #{ansDate},</if>
            <if test="ansDetail!=null">ANS_DETAIL = #{ansDetail},</if>
            <if test="isAnswer">IS_ANSWER = #{isAnswer},</if>
            <if test="isPay">IS_PAY = #{isPay},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE tb_question SET del_flag = #{DEL_FLAG_DELETE} WHERE id = #{id}
    </update>

</mapper>